 /*
    custom.css
    Created: January 18, 2007
    Updated: January 27, 2017
    Number Cruncher
    Patrick Ross
    200307049
    This is the custom css page for the calculator
 */
 /*Custom CSS for Portrait view of the calculator*/
.custom-single-btn {
    width: 45px !important;
    height: 35px !important;
}

.portrait.ui-grid-c.ui-block-a, .portrait.ui-grid-c.ui-block-b, .portrait.ui-grid-c.ui-block-c, .portrait.ui-grid-c.ui-block-d {
    background-color: lightgray;
    border: 1px solid black;
    height: 60px;
    font-weight: bold;
    text-align: center;
    padding: 120px;
}

#portrait-calc div.ui-input-text { 
    width: 310px !important;
    font: bolder 215% arial, sans-serif !important;
}

.ui-btn-b {
    background: #707070 !important;
}