.custom-equal-btn {
    width: 122px !important;
    height: 35px !important;
}
.custom-clear-btn {
    width: 123px !important;
    height: 35px !important;
}
.custom-single-btn {
    width: 45px !important;
    height: 35px !important;
}
.custom-back-btn {
    width: 45px !important;
    height: 6px !important;
}
.portrait.ui-grid-c.ui-block-a, .portrait.ui-grid-c.ui-block-b, .portrait.ui-grid-c.ui-block-c, .portrait.ui-grid-c.ui-block-d {
    background-color: lightgray;
    border: 1px solid black;
    height: 60px;
    font-weight: bold;
    text-align: center;
    padding: 120px;
}