.custom-double-btn {
    width: 123px !important;
    height: 35px !important;
}
.custom-single-btn {
    width: 45px !important;
    height: 35px !important;
}
.custom-back-btn {
    width: 45px !important;
    height: 6px !important;
}